#game_screen {
  z-index: 2;
}

.battle_enter {
  width: 100vw;
  height: 100vh;
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease-out;

  img {
    width: 100%;
    height: 100%;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding-top: 10vh;

    .title {
      font-size: 3em;
      color: aquamarine;
    }
  }
}

.char_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;

  .char {
    margin: 0px 1vw;
    width: 44vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .desc_row {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.528);

      .desc_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 15px;
        font-size: 14px;

        .opp_label {
          color: cornflowerblue;
          font-size: 25px;
        }

        .label {
          color: lightblue;
          font-size: 25px;
        }

        .skill_label {
          color: lightblue;
          font-size: 15px;
        }

        .op_skill_label {
          color: cornflowerblue;
          font-size: 15px;
        }

        .skill_img_container {
          color: white;
          margin-top: 5px;
          width: 60px;
        }

        .value {
          color: white;
          margin-top: 18px;
          font-size: 20px;
        }
      }
    }
  }

  .img_container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: flex-end;
    img {
      width: 200px;
      height: 200px;
    }
  }
}

#readyButtonContainer {
  display: none;
}

.game_skill_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  color: #2f3746;

  img {
    width: 35%;
    margin-right: 10px;
  }

  .skill_button_desc {
    text-align: left;

    .skill_desc {
      font-size: 14px;
      p {
        margin: 0px;
        margin-top: 5px;
      }
      .skill_name {
        font-size: 16px;
      }
    }
  }
}

#attacksBox {
  button {
    background-color: #eef2f7;
    // border: 5px solid rgba(29, 0, 73, 0.3);
  }
  button:hover {
    background-color: #e2e8ef;
    width: 100%;
    height: 100%;
  }
  button:focus {
    outline: none;
    box-shadow: none;
  }
  button:active {
    outline: none;
    box-shadow: none;
  }
}
