.battle_modal {
  display: none;
  position: fixed;
  top: calc(50% - max(200px, 35%));
  left: calc(50% - max(200px, 40%));
  width: max(400px, 80%);
  height: max(400px, 70%);
  z-index: 5;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.89);
  padding: 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgba(242, 242, 242, 0.93);
  text-align: center;

  .battle_modal_content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.battleCard {
  color: rgba(242, 242, 242, 0.93);
  width: 400px;
  margin: auto;
  text-align: center;
  left: calc(50% - 200px);
  z-index: 9;
  display: none;
}

#multipleActionCard {
  display: none;
  flex-direction: column;
  box-shadow: var(--card-shadow);
  text-align: center;
  font-family: Pretendard;
  left: 10px;
  z-index: 5;

  .action_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    .right_arrow {
      font-size: 2em;
    }

    .one_action_box {
      width: 90px;
      height: 90px;
      margin: 6px;
      padding: 5px;
      outline: 3px solid rgba(242, 242, 242, 0.5);
      transition: 0.3s ease;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.01);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-weight: 700;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        outline: 2px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}

#skill_box_temp {
  display: none;
  flex-direction: column;
  box-shadow: var(--card-shadow);
  text-align: center;
  font-family: Pretendard;
  z-index: 5;

  .title {
    font-weight: 700;
    font-size: 1.2em;
  }

  .attack_skill_box,
  .defense_skill_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    .one_atk_skill_box {
      width: 90px;
      height: 90px;
      margin: 6px;
      padding: 5px;
      outline: 3px solid rgba(242, 242, 242, 0.5);
      transition: 0.3s ease;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.01);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-weight: 700;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        outline: 2px solid rgba(0, 0, 0, 0.2);
      }
    }

    .skill_hover_tooltip {
      background: rgba(0, 0, 0, 1);
      color: rgba(242, 242, 242, 1);
      border-radius: 5px;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
      position: absolute;
      text-align: left;
      display: flex;
      flex-direction: column;
      top: 97px;
      left: 0px;
      padding: 10px;
      min-width: 250px;
      min-height: 200px;
      z-index: 4;
      font-weight: 500;
    }
  }
}

#selectTypeBtn {
  width: 100%;
  border-radius: 6px;
  padding: 13px 0px;
  border: none;
  background-color: #ccd5dfaa;
  font-weight: 700;
  margin-top: 15px;

  &:hover {
    background-color: #b3bfcdaa;
  }

  &:focus {
    border: none;
    outline: 3px solid rgba(0, 0, 0, 0.1);
  }
}